
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jinada Home</title>
    <!-- fontawesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- bootstrap css -->
    <link rel = "stylesheet" href = "../static/bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <!-- custom css -->
    <link rel="stylesheet" type="text/css" href="../static/css/welcome.css">
</head>
<body>
	{{if .}}
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-4 fixed-top">
		<div class="container">
			<a class="navbar-brand d-flex justify-content-between align-items-center order-lg-0" href="/">
				<img src="../static/img/shopping-bag-icon.png" alt="site icon">
				<span class="text-uppercase fw-lighter ms-2">JINADA</span>
			</a>
	
			<div class="order-lg-2 nav-btns">
                <script>
                  // Retrieve the username from local storage
                  var savedUsername = localStorage.getItem("username");
              
                  // Check if the username exists
                  if (savedUsername) {
                    // User is logged in
                    document.write(
                      `<button type="button" class="btn position-relative">
                        <span class="button-icon"><i class="fa fa-user"></i></span>
                        ${savedUsername}
                      </button>
                      <button type="button" class="btn position-relative" onclick="clearLocalStorageAndRedirect()">
                        <span class="button-icon"><i class="fa fa-sign-in-alt"></i></span>
                        Logout
                      </button>`
                    );
                  } else {
                    // User is not logged in
                    document.write(
                      `<button type="button" class="btn position-relative" onclick="window.location.href='/signin'">
                        <span class="button-icon"><i class="fa fa-user"></i></span>
                        Sign In
                      </button>
                      <button type="button" class="btn position-relative" onclick="window.location.href='/signup'">
                        <span class="button-icon"><i class="fa fa-sign-in-alt"></i></span>
                        Sign Up
                      </button>`
                    );
                  }
            function clearLocalStorageAndRedirect() {
                        localStorage.clear();
                        window.location.href = '/logout';
                        }
                </script>
              </div>
	
			<button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
				<span class="navbar-toggler-icon"></span>
			</button>
	
			<div class="collapse navbar-collapse order" id="navMenu">
				<ul class="navbar-nav mx-auto text-center smaller-font ">
					<li class="nav-item px-2 py-2">
						<a class="nav-link text-uppercase text-dark" href="/">home</a>
					</li>
					<li class="nav-item px-2 py-2">
						<a class="nav-link text-uppercase text-dark" href="/productList">products</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>


    <!-- about us -->
	{{if .Product}}
  <section id="about" class="py-5" style="margin-top: 150px;">
    <div class="container">
      <div class="row gy-lg-5 align-items-center">
        <div class="col-lg-6 order-lg-1 text-center text-lg-start">
          <div class="title pt-3 pb-5">
            <h2 class="position-relative d-inline-block ms-4">{{ .Product.Name }}</h2>
          </div>
          <p class="lead text-muted">$ {{ .Product.Price }}</p>
          <p>{{ .Product.Description }}</p>
          <p>Stars {{ .Product.Rating }} <span class="text-primary"><i class="fas fa-star"></i></span></p>
        </div>
        <div class="col-lg-6 order-lg-0">
          <img src="../{{ .Product.ImageURL }}" alt="" class="img-fluid">
        </div>
      </div>
      <form action="/add-to-cart" method="post">
        <input type="hidden" name="productID" value="{{ .Product.ID }}" style="display: none;">
        <button type="submit" class="btn btn-primary mt-2">Add to Cart</button>
      </form>
    </div>
  </section>
  
  <!-- Comments section -->
  <style>
    .product-comments {
      margin-top: 20px;
    }
  
    .product-comments h3 {
      font-size: 18px;
      margin-bottom: 10px;
    }
  
    .product-comments ul {
      list-style: none;
      padding: 0;
    }
  
    .product-comments li {
      margin-bottom: 10px;
    }
  
    .product-comments li strong {
      font-weight: bold;
    }
  </style>
  <section class="container">
    <div class="row gy-lg-5 align-items-center">
      <div class="col-lg-6 order-lg-1">
        <h3>Comments</h3>
        <ul>
          {{ range .Comments }}
          <li><strong>{{ .Name }}:</strong> {{ .Comment }}</li>
          {{ end }}
        </ul>
      </div>
      <div class="col-lg-6 order-lg-0">
        <h1>Rate product</h1>
        <form id="ratingForm" action="/ratings" method="post">
          <div class="mb-3">
            <label for="ratingInput" class="form-label">Rating</label>
            <div class="rating">
              <input type="radio" id="star1" name="rating" value="1">
              <label for="star1"></label>
              <input type="radio" id="star2" name="rating" value="2">
              <label for="star2"></label>
              <input type="radio" id="star3" name="rating" value="3">
              <label for="star3"></label>
              <input type="radio" id="star4" name="rating" value="4">
              <label for="star4"></label>
              <input type="radio" id="star5" name="rating" value="5">
              <label for="star5"></label>
            </div>
            <input type="text" name="productId" value="{{ .Product.ID }}" style="display: none;">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </section>
  
  <section class="container">
    <div class="row gy-lg-5 align-items-center">
      <div class="col-lg-6 order-lg-1">
        
      </div>
      <div class="col-lg-6 order-lg-2">
        <form action="/sendComment" method="post">
          <div class="mb-3">
            <textarea name="commentText" id="commentText" cols="30" rows="3"></textarea>
            <input type="text" id="productId" name="productId" value="{{ .Product.ID }}" style="display: none;">
            <button type="submit" id="submit" class ="btn btn-primary">Send</button>
          </div>
        </form>
      </div>
    </div>
  </section>
  
	  {{ end}}
    <!-- footer -->
    <footer class = "bg-dark py-5">
      <div class = "container">
          <div class = "row text-white g-3">
              <div class = "col-md-6 col-lg-5">
                  <a class = "text-uppercase text-decoration-none brand text-white" href = "index.html">JINADA</a>
                  <p class = "text-white text-muted mt-3">At Jinada Clothes Shop, we are passionate about providing you with high-quality clothing that reflects your unique style and personality. Our mission is to offer a wide range of fashionable and trendy apparel for men, women, and children, ensuring that everyone can find something they love.</p>
              </div>

              <div class = "col-md-6 col-lg-3">
                  <h5 class = "fw-light">Links</h5>
                  <ul class = "list-unstyled">
                      <li class = "my-3">
                          <a href = "/" class = "text-white text-decoration-none text-muted">
                              <i class = "fas fa-chevron-right me-1"></i> Home
                          </a>
                      </li>
                      <li class = "my-3">
                          <a href = "/productList" class = "text-white text-decoration-none text-muted">
                              <i class = "fas fa-chevron-right me-1"></i> Collection
                          </a>
                      </li>
                  </ul>
              </div>

              <div class = "col-md-6 col-lg-3">
                  <h5 class = "fw-light mb-3">Contact Us</h5>
                  <div class = "d-flex justify-content-start align-items-start my-2 text-muted">
                      <span class = "me-3">
                          <i class = "fas fa-map-marked-alt"></i>
                      </span>
                      <span class = "fw-light">
                          ZHAROKOVA 228, 21, ALMATY, KAZAKHSTAN
                      </span>
                  </div>
                  <div class = "d-flex justify-content-start align-items-start my-2 text-muted">
                      <span class = "me-3">
                          <i class = "fas fa-envelope"></i>
                      </span>
                      <span class = "fw-light">
                          jinada.support@gmail.com
                      </span>
                  </div>
                  <div class = "d-flex justify-content-start align-items-start my-2 text-muted">
                      <span class = "me-3">
                          <i class = "fas fa-phone-alt"></i>
                      </span>
                      <span class = "fw-light">
                          +777 777 77 77
                      </span>
                  </div>
              </div>

          
          </div>
      </div>
  </footer>
  <!-- end of footer -->


    <!-- jquery -->
    <script src = "js/jquery-3.6.0.js"></script>
    <!-- isotope js -->
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
    <!-- bootstrap js -->
    <script src = "bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
    <!-- custom js -->
    <script src = "js/script.js"></script>
	{{ end}}
</body>
</html>